DATABASE_URL=postgresql://postgres:postgres@ocenka-db:5432/ocenka_db
DB_HOST=ocenka-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ocenka_db
CHECKO_API_KEY=your_key_here
APP_PORT=8001
DEBUG=true
